<th:block
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:fragment="end">
    <!--<script src="http://code.jquery.com/jquery-3.2.1.min.js"-->
            <!--integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
            <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <!--<script-->
            <!--src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
    <!--<script th:src="@{/script.js}"></script>-->

    <script th:src="@{/js/jquery.min.js}"/>
    <script th:src="@{/js/bootstrap.min.js}"/>
    <script th:src="@{/js/bootstrap-datepicker.min.js}"/>
    <script th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}"/>
    <script th:src="@{/js/jquery.maskMoney.js}"/>
    <script th:src="@{/js/js-currency.js}"/>
    <script th:src="@{/js/cobranca/modal.js}"/>
    <!--<script th:src="@{/js/cobranca/create.js}"/>-->
    <!--<script th:src="@{/js/cobranca/delete.js}"/>-->
    <!--<script th:src="@{/js/cobranca/details.js}"/>-->


</th:block>

